torch
torchvision
torchaudio
transformers
peft
accelerate
bitsandbytes
datasets
sentence-transformers
FlagEmbedding
pandas
numpy
tqdm
openai
anthropic
python-dotenv
ipykernel
wandb
matplotlib
scikit-learn
